
@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
			<div class="agileits-top">
				<form  asp-action="SignUp" >
					<div asp-validation-summary="ModelOnly"></div>
					<input class="text" asp-for="FirstName" type="text"  placeholder="First Name" required="" />
					<input class="text" asp-for="LastName" type="text"  placeholder="Last Name" required="" />
					<input class="text" asp-for="UserName" type="text"  placeholder="Username" required="">
					<input class="text" asp-for="Email" type="email"  placeholder="Email" required="">
					<input class="text" asp-for="password" type="password" placeholder=" Password"  required=""/>
					<input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" asp-for="IsAgree" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
				<p>you have an Account? <a asp-action ="SignIn"> Login Now!</a></p>
			</div>
		</div>

					@section ValidationScripts {

@* 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
    <partial name="_ValidationScriptsPartial" />
}
